body{
    background-color: dimgray;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
input{
    height: 30px;
    width:200px;
    border-radius: 10px;
    border:dimgray;
    margin-top: 10px;
    color: blueviolet;
    text-align: center;
}
button{
    height: 50px;
    width: 100px;
    background-color: blueviolet;
    border: dimgray;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    color: wheat;
    position: absolute;
    left: 50px;

}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color:wheat;

}
@media only screen and (max-width:600px)
{
    input{
        width: 100%;
        align-items: center;
    }
    button{
        position: absolute;
        left: 150px;
    }
    #result{
        position: absolute;
        bottom: -30px;
        
    }
}
